.icon-section__icon {
  text-align: center;
  margin-bottom: 2rem;
}

.icon-section__icon i {
  font-size: 3rem;
  color: rebeccapurple;
}

.truck-moves {
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: truck_animation;
  animation-direction: alternate;
  transform: translateX(-100%);
}

@keyframes truck_animation {
  0%,
  100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
}

.grow-shrink {
  animation: grow-shrink 2s infinite;
}

@keyframes grow-shrink {
  0% {
    transform: scale(0.66);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.66);
  }
}

.rotates {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bounce-wiggles {
  animation: bounce-wiggle 2s infinite;
}

@keyframes bounce-wiggle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px) rotate(-5deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.icon-container button {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  animation: pulse 2s infinite;
}

.icon-container a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.icon-container button:hover {
  background-color: #4b2e83;
}
