.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding: 0 1rem;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  overflow: hidden;
}

.carousel__button {
  cursor: pointer;
}

.carousel__image {
  width: 100%;
  height: auto;
}
