.banner {
  background-color: #9966cc;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.5rem;
  color: white;
  animation: scrollTextDesktop 6s linear infinite;
}

@keyframes scrollTextDesktop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Adjust scrolling speed for mobile devices */
@media (max-width: 768px) {
  .scrolling-text {
    padding-left: 0%;
    animation: scrollTextMobile 6s linear infinite;
  }

  @keyframes scrollTextMobile {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
