/*======================================================
                          MAIN
  ======================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
}

body {
  width: 100%;
}

/*======================================================
                            NAVIGATION
    ======================================================*/
.navigation-component {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rebeccapurple;
}

.navigation-container {
  display: flex;
  padding: 0.5rem 1rem;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin: 0 1rem;
  font-size: large;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

/*======================================================
                            HERO
    ======================================================*/
.hero-component {
  background-image: url("https://media3.giphy.com/media/wZQ8RoZAfj82CQFQyW/giphy.gif?cid=6c09b9529ffd590a91ec0c1478287543484f520c19b1d63c&rid=giphy.gif&ct=g");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 4rem;
}

.hero-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
}

.hero-text h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero-component button {
  background-color: #fff;
  color: #000;
  padding: 25px 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-size: xx-large;
}

.hero-component button:hover {
  background-color: rebeccapurple;
  color: #fff;
}

/*======================================================
                     ABOUT SECTION
    ======================================================*/

.about-container {
}

.about-section {
}

.about-container h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-container p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*======================================================
                     ICON SECTION
    ======================================================*/
.icon-component {
  height: 100vh;
  width: 100%;
  margin-bottom: 6rem;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-section__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.icon-section__icon img {
  margin-bottom: 1rem;
}

.icon-section__icon h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.icon-section__icon p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*======================================================
                     CONTACT FORM
    ======================================================*/

.contact-form-component {
  height: 100%;
  width: 100%;
  margin-bottom: 4rem;
}

.contact-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form-section img {

  object-fit: cover;
  border: 0.5rem solid white;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1rem;

}

.contact-form-section form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 2rem 5rem;
  background-color: rebeccapurple;
  border-radius: 5px;
}

.contact-form-section form input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

.contact-form-section label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.contact-form-section form textarea {
  padding: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

.contact-form-section form button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.5s;
}

.choice-label {
  font-size: 1.5rem;
}

.choice-dropdown {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

/*======================================================
                     SMALLEST SCREEN MEDIA QUERIES
    ======================================================*/

@media screen and (max-width: 299px) {
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-component button {
    padding: 25px 25px;
  }

  .icon-section {
    height: 100%;
  }

  .icon-section h2 {
    font-size: 1.5rem;
  }

  .icon-section__icon h3 {
    font-size: 1.25rem;
  }

  .icon-section__icon p {
    font-size: 1rem;
  }
}

/*======================================================
                     SMALL SCREEN MEDIA QUERIES
    ======================================================*/
@media screen and (min-width: 300px) and (max-width: 767px) {
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-component button {
    padding: 25px 50px;
  }

  .icon-section {
    height: 100%;
  }

  .icon-section h2 {
    font-size: 1.5rem;
  }

  .icon-section__icon h3 {
    font-size: 1.25rem;
  }

  .icon-section__icon p {
    font-size: 1rem;
  }
}

/*======================================================
                     MOBILE MEDIA QUERIES
    ======================================================*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-text h1 {
    font-size: 10rem;
  }
  .hero-component button {
    padding: 25px 100px;
  }

  .icon-section {
    height: 100%;
    width: auto;
  }

  .icon-section__icon p {
    font-size: 1.5rem;
  }
}

/*======================================================
                     TABLET MEDIA QUERIES
    ======================================================*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-component button {
    padding: 25px 150px;
  }

  .hero-text h1 {
    font-size: 12rem;
  }

  .about-container {
  }

  .about-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

/*======================================================
                     DESKTOP MEDIA QUERIES
    ======================================================*/
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .hero-component button {
    padding: 25px 200px;
  }

  .hero-text h1 {
    font-size: 15rem;
  }

  .about-container {
  }
  .about-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

/*======================================================
                     SUPERWIDE MEDIA QUERIES
    ======================================================*/
@media screen and (min-width: 1440px) {
  .hero-component button {
    padding: 25px 250px;
  }

  .hero-text h1 {
    font-size: 20rem;
  }

  .about-container {
  }

  .icon-section {
    margin-left: 12rem;
  }

  .about-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
