.faq-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.faq-container h1 {
  color: rebeccapurple;
  text-align: center;
}

.faq-item {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.faq-item h3 {
  color: rebeccapurple;
  cursor: pointer;
}

.faq-item p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-item.open p {
  max-height: 100px;
}

@media only screen and (max-width: 600px) {
  .faq-container {
    padding: 10px;
  }
}
